

<div class="container-fluid "  >
  <div class="row ">
      <div class="col-sm-auto bg-light sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
               <div class="sidebar-header d-flex align-items-center py-4 px-3"><img
        class="avatar shadow-0 img-fluid rounded-circle" src="assets/img/testimonial-1.jpg" alt="..."> </div>
      <div class="nav-item">
        <h1 class="h6 mb-2">Nom</h1>
        <p class="text-sm text-gray-500 fw-light mb-0 lh-1">Titre</p>
      </div>
      <hr>
   
              <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center " >
                  <li class="nav-item">
                      <a routerLink="/dashboard" class="d-block p-3 link-dark text-decoration-none  nav-link py-3 px-3 card m-1 fact-item  " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                        <div class="nav-item"> <i class="fa fa-home"></i> HOME</div>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/gestion-doc" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-3 card m-1 fact-item bg-light rounded" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                        <div class="nav-item"> <i class="fa fa-newspaper"></i> List des articles</div>
                      </a>
                  </li>
                
                  <li>
                      <a routerLink="/gestion-ticket" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-3 card m-1 fact-item bg-light rounded" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard" >
                        <div class="nav-item"> <i class="fa fa-list-alt"></i>List des Tickets</div> 
                      </a>
                  </li>
                
                  <li>
                      <a routerLink="/gestion-clt" class="d-block p-5 link-dark text-decoration-none nav-link py-3 px-3 card m-1 fact-item bg-light rounded" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                        <div class="nav-item"> <i class="fa fa-address-book"></i> Liste des clients</div>
                      </a>
                  </li>
                  <li>
                    <a routerLink="/gestion-expert" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-3  card m-1 fact-item bg-light rounded" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                      <div class="nav-item"> <i class="fa fa-address-card"></i> Liste des experts</div>
                    </a>
                </li>
                
                <li>
                  <a routerLink="/gestion-manager" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-3 card m-1 fact-item bg-light rounded" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                    <div class="nav-item"> <i class="fa fa-id-card"></i> Liste des managers</div>
                  </a>
              </li>
              
                  <li>
                      <a routerLink="/gestion-categorie" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-3 card m-1 fact-item bg-light rounded" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                        <div class="nav-item"> <i class="fa fa-list-ul"></i> Liste des categories</div>
                      </a>
                  </li>
                  
                <li>
                  <a routerLink="/gestion-offre" class="d-block p-3 link-dark text-decoration-none nav-link py-3 px-3 card m-1 fact-item bg-light rounded" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                    <div class="nav-item"> <i class="fa fa-user-circle"></i> Liste des services</div> 
                  </a>
              </li>
            
              </ul>
             
          </div>
      </div><br>
      <div class="col-sm p-3 min-vh-100">
        <!-- content -->
    </div>
  </div>
</div>
